pipeline/Pipeline_To_Take_Backup_And_Copy_Bulk_Tables.json
{
	"name": "Pipeline_To_Take_Backup_And_Copy_Bulk_Tables",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Activity_To_Get_Table_Names",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select TABLE_SCHEMA as sname, TABLE_NAME as name from INFORMATION_SCHEMA.TABLES",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTableDSToPointDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_TO_Copy_Tables_And_Take_Backup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Activity_To_Get_Table_Names",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Activity_To_Get_Table_Names').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_Tables_To_AzureSQL",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"ID"
										]
									},
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerTableDS",
									"type": "DatasetReference",
									"parameters": {
										"SchemaDS": {
											"value": "@item().sname",
											"type": "Expression"
										},
										"TableNameDS": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTableDS",
									"type": "DatasetReference",
									"parameters": {
										"SchemaDS": {
											"value": "@item().sname",
											"type": "Expression"
										},
										"TableNameDS": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Backup_Tables_To_AzureSQL",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy_Tables_To_AzureSQL",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "upsert",
									"upsertSettings": {
										"useTempDB": true,
										"keys": [
											"ID"
										]
									},
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SqlServerTableDS",
									"type": "DatasetReference",
									"parameters": {
										"SchemaDS": {
											"value": "@item().sname",
											"type": "Expression"
										},
										"TableNameDS": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureSqlTableDS",
									"type": "DatasetReference",
									"parameters": {
										"SchemaDS": "Arc",
										"TableNameDS": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"serverName": {
				"type": "String",
				"defaultValue": "AZ-VDI-D1-262"
			},
			"uName": {
				"type": "String",
				"defaultValue": "sa"
			},
			"pass": {
				"type": "String",
				"defaultValue": "sa@123"
			}
		},
		"variables": {
			"CountryName": {
				"type": "String"
			},
			"firstNameVar": {
				"type": "String"
			},
			"lastNameVar": {
				"type": "String"
			},
			"cityVar": {
				"type": "String"
			},
			"phoneVar": {
				"type": "String"
			},
			"idVar": {
				"type": "String"
			},
			"Columns": {
				"type": "String"
			},
			"tableName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-06-20T14:05:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}